/* Header Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

#header {

  .menu_dynamic_general {
    width: 100%;
    background-image: url('../../assets/img/bg_header.png');

    .logo {
      //height: 80px;
      @include flex(row, center , center);
      img {
        width: 100%;
      }
    } //end-nav_icons

    nav {
      padding-left: 30px;
      padding-right: 0px;
      .nav_principal {
        li {
          a {
            //height: 80px;
            color: #FFFFFF;
            text-decoration: none;
            font-family: "century-gothic";
            //padding: 30px 15px 30px 15px;
            @include flex(column, center , center);
            .triangulo_inf {
              @include triangulo_inf(5px, 5px, 5px, $bgc_content);
              margin-top: 5px;
            }
          }
          a:hover {
            background-color: $bgc_primary;
          }
          .sub_menu {
            display: none;
            background-color: $bgc_primary;
            transition: 0.6s;
            li a {
              height: 30px;
              padding: 4px 10px 4px 10px;
              @include flex(column, flex-start , stretch);
            }
            a:hover {
              background-color: rgba(191, 191, 191, 0.3);
            }
          } //end-sub_menu

          #menu_fa , #menu_esc {
            transition: 0.6s;
          }

        }

        .col-md-1 , .col-md-2 {
          padding-left: 0px;
          padding-right: 0px;
        }

      } //end-nav_principal
    }

  } //end-menu_dynamic_general

  .menu_dynamic_general2 {
    width: 100%;
    //background-color: rgba(0 , 0 , 0 , 0.5);
    .logo2 {
      @include flex(row, center , center);
      img {
        width: 100%;
      }
    } //end-nav_icons

    nav {
      padding-left: 30px;
      padding-right: 0px;
      .nav_principal2 {
        li {
          a {
            //height: 80px;
            color: #FFFFFF;
            text-decoration: none;
            //padding: 30px 15px 30px 15px;
            @include flex(column, center , center);
            .triangulo_inf {
              @include triangulo_inf(5px, 5px, 5px, $bgc_content);
              margin-top: 5px;
            }
          }
          a:hover {
            background-color: $bgc_primary;
            transition: 0.6s;
          }
          .sub_menu {
            display: none;
            background-color: $bgc_primary;
            li a {
              height: 30px;
              padding: 4px 10px 4px 10px;
              @include flex(column, flex-start , stretch);
            }
            a:hover {
              background-color: rgba(191, 191, 191, 0.3);
              transition: 0.6s;
            }
          } //end-sub_menu

        }

        .col-md-1 , .col-md-2 {
          padding-left: 0px;
          padding-right: 0px;
        }

      } //end-nav_principal
    }

  } //end-menu_dynamic_general2

} //end-header


/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 550px){

}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 551px) and (max-width: 749px){

}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 750px) and (max-width: 991px){

}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 992px) and (max-width: 1199px){

}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 1200px){

  .menu_dynamic_general {
    height: 80px;
    transition: 0.6s;
    .logo {
      height: 80px;
      transition: 0.6s;
    }
    .nav_principal {
      height: 80px;
      transition: 0.6s;
      a {
        height: 80px;
        font-size: 1.5rem;
        padding: 29.5px 15px 29.5px 15px;
        transition: 0.6s;
      }
      .facultad , .escuelas {
        font-size: 1.5rem;
        padding: 29.5px 15px 19.5px 15px;
        transition: 0.6s;
      } 
    }
  }

  .menu_dynamic_general2 {
    height: 60px;
    background-color: rgb(42, 55, 68);
    transition: 0.6s;
  }

}
