/* Header Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#img_principal {
  width: 100%;
  padding-top: 35px;
}

#header {
  width: 100%;
  @include flex(column, null , null);
  position: fixed;
  z-index: 1000;

  #container_nav_icons {
    height: 35px;
    background-color: $bgc_primary;

    .nav_icons {
      height: 35px;
      @include flex(row, flex-end , center);
      a {
        color: rgb(255, 255, 255);
        margin: 0px 20px 0px 20px;
      }

    } //end-nav_icons

  } //end-container_nav_icons

  .menu_dynamic {
    background-color: rgba(0 , 0 , 0 , 0.5);
    .logo {
      @include flex(row, flex-start , center);
      img {
        width: 100%;
      }
    }
    .nav_principal {
      margin-left: 20px;
      @include flex(row, flex-start , center);
      a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        .triangulo_inf {
          @include triangulo_inf(5px, 5px, 5px, $bgc_content);
          margin-top: 5px;
        }
      }
      a:hover {
        background-color: $bgc_primary;
        transition: 0.6s;
      }
      #facultad , #escuelas {
        @include flex(column, null , center);
      }
    }

  } //end-menu_dinamic

  .menu_dynamic2 {
    .logo2 {
      @include flex(row, flex-start , center);
      img {
        width: 100%;
      }
    }
    .nav_principal2 {
      margin-left: 20px;
      @include flex(row, flex-start , center);
      a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        .triangulo_inf {
          @include triangulo_inf(5px, 5px, 5px, $bgc_content);
          margin-top: 5px;
        }
      }
      a:hover {
        background-color: $bgc_primary;
        transition: 0.6s;
      }
      .facultad2 , .escuelas2 {
        @include flex(column, null , center);
      }
    }

  } //end-menu_dinamic

} //end-header

/*
/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 550px){
  .menu_dynamic {
    height: 30px;
    .logo {
      height: 30px;
    }
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 551px) and (max-width: 749px){
  .menu_dynamic {
    height: 50px;
    .logo {
      height: 50px;
    }
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 750px) and (max-width: 991px){
  .menu_dynamic {
    height: 60px;
    .logo {
      height: 60px;
    }
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 992px) and (max-width: 1199px){
  .menu_dynamic {
    height: 80px;
    transition: 0.6s;
    .logo {
      height: 80px;
      transition: 0.6s;
    }
    .nav_principal {
      height: 80px;
      transition: 0.6s;
      a {
        font-size: 1.2rem;
        padding: 31.5px 15px 31.5px 15px;
        transition: 0.6s;
      }
      .facultad , .escuelas {
        padding: 31.5px 15px 21.5px 15px;
        transition: 0.6s;
      } 
    }
  }

  // Efecto Scroll en Header

  .menu_dynamic2 {
    height: 60px;
    background-color: rgb(42, 55, 68);
    transition: 0.6s;
  }

  .logo2 {
    width: 20%;
    height: 60px;
    margin-right: 5%;
    transition: 0.6s;
  }

  .nav_principal2 {
    height: 60px;
    transition: 0.6s;
  }

  .usmp2 , .posgrados2 , .institutos2 , .epu2 , .admision2 {
    font-size: 1.2rem;
    padding: 21.5px 15px 21.5px 15px;
    transition: 0.6s;
  }

  .facultad2 , .escuelas2 {
    font-size: 1.2rem;
    padding: 21.5px 15px 11.5px 15px;
    transition: 0.6s;
  }
  /*
  .sub_menu_fa {
    top: 80px;
    left: 95px;
  }
  .sub_menu_esc {
    top: 80px;
    left: 188px;
  }
  */
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 1200px){
  .menu_dynamic {
    height: 80px;
    transition: 0.6s;
    .logo {
      height: 80px;
      transition: 0.6s;
    }
    .nav_principal {
      height: 80px;
      transition: 0.6s;
      a {
        font-size: 1.5rem;
        padding: 29.5px 15px 29.5px 15px;
        transition: 0.6s;
      }
      .facultad , .escuelas {
        font-size: 1.5rem;
        padding: 29.5px 15px 19.5px 15px;
        transition: 0.6s;
      } 
    }
  }

  // Efecto Scroll en Header

  .menu_dynamic2 {
    height: 60px;
    background-color: rgb(42, 55, 68);
    transition: 0.6s;
  }

  .logo2 {
    width: 20%;
    height: 60px;
    margin-right: 5%;
    transition: 0.6s;
  }

  .nav_principal2 {
    height: 60px;
    transition: 0.6s;
  }

  .usmp2 , .posgrados2 , .institutos2 , .epu2 , .admision2 {
    font-size: 1.5rem;
    padding: 19.5px 15px 19.5px 15px;
    transition: 0.6s;
  }

  .facultad2 , .escuelas2 {
    padding: 19.5px 15px 9.5px 15px;
    transition: 0.6s;
  }

  /*
  .sub_menu_fa {
    top: 80px;
    left: 104px;
  }
  .sub_menu_esc {
    top: 80px;
    left: 213px;
  }
  */
}
