/* Header Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#img_principal {
  width: 100%;
  padding-top: 35px;
}

#header {
  width: 100%;
  @include flex(column, null , null);
  position: fixed;
  z-index: 1000;

  #container_nav_icons {
    height: 35px;
    background-color: $bgc_primary;

    .nav_icons {
      height: 35px;
      @include flex(row, flex-end , center);
      a {
        color: rgb(255, 255, 255);
        margin: 0px 20px 0px 20px;
      }

    } //end-nav_icons

  } //end-container_nav_icons

  #menu_dinamic {
    background-color: rgba(0 , 0 , 0 , 0.5);
    #logo {
      @include flex(row, flex-start , center);
      img {
        width: 100%;
      }
    }
    #nav_principal {
      height: 80px;
      margin-left: 20px;
      @include flex(row, flex-start , center);
      a {
        //background-color: red;
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: block;
        .triangulo_inf {
          @include triangulo_inf(5px, 5px, 5px, $bgc_content);
          margin-top: 5px;
        }
      }
      a:hover {
        background-color: $bgc_primary;
        transition: 0.6s;
      }
      #facultad , #escuelas {
        position: relative;
        @include flex(column, null , center);
      }
      .sub_menu_fa {
        position: absolute;
        top: 80px;
        background-color: $bgc_primary;
        @include flex(column, flex-start , stretch);
        a {
          padding: 4px 10px 4px 10px;
        }
        a:hover {
          background-color: rgba(191, 191, 191, 0.3);
          transition: 0.6s;
        }
      }
      .sub_menu_esc {
        position: absolute;
        top: 80px;
        background-color: $bgc_primary;
        @include flex(column, flex-start , stretch);
        a {
          padding: 4px 10px 4px 10px;
        }
        a:hover {
          background-color: rgba(191, 191, 191, 0.3);
          transition: 0.6s;
        }
      }
    }

  } //end-menu_dinamic



} //end-header

/*
/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 550px){
  #menu_dinamic {
    height: 30px;
    #logo {
      height: 30px;
    }
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 551px) and (max-width: 749px){
  #menu_dinamic {
    height: 50px;
    #logo {
      height: 50px;
    }
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 750px) and (max-width: 999px){
  #menu_dinamic {
    height: 60px;
    #logo {
      height: 60px;
    }
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 991px) and (max-width: 1199px){
  #menu_dinamic {
    height: 80px;
    #logo {
      height: 80px;
    }
    #nav_principal {
      a {
        font-size: 1.2rem;
        padding: 31.5px 15px 31.5px 15px;
      }
      #facultad , #escuelas {
        padding: 31.5px 15px 21.5px 15px;
      } 
    }
  }
  /*
  .sub_menu_fa {
    top: 80px;
    left: 95px;
  }
  .sub_menu_esc {
    top: 80px;
    left: 188px;
  }
  */
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 1200px){
  #menu_dinamic {
    height: 80px;
    #logo {
      height: 80px;
    }
    #nav_principal {
      a {
        font-size: 1.5rem;
        padding: 29.5px 15px 29.5px 15px;
      }
      #facultad , #escuelas {
        padding: 29.5px 15px 19.5px 15px;
      } 
    }
  }
  /*
  .sub_menu_fa {
    top: 80px;
    left: 104px;
  }
  .sub_menu_esc {
    top: 80px;
    left: 213px;
  }
  */
}
