
/* Background Colors
   ––––––––––––––––––––––––––––––––––––––––––– */

$bgc_primary: rgb(42, 55, 68);
$bgc_secondary: rgb(228, 75, 48);
$bgc_content: rgb(220, 217, 218);
$bgc_nav: #81B3DA;
$bgc_social: rgb(54, 77, 91);

/* Fonts Colors
   ––––––––––––––––––––––––––––––––––––––––––– */

$fc_title: rgb(39, 55, 67);
$fc_primary: rgb(84, 84, 84);
$fc_secondary: rgb(228, 75, 48);
$fc_footer: rgb(147, 182, 207);

/* Escuelas Colors
   ––––––––––––––––––––––––––––––––––––––––––– */
