/* ===========================================
   CSS Reset
   =========================================== */

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: 0px none;
  font-size: 100%;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}


/* ===========================================
   General Imports
   =========================================== */

@import "_vars";
@import "_mixins";
@import "layouts/includes/_header";
@import "layouts/includes/_footer";
@import "layouts/includes/_menu-secondary";
@import "layouts/includes/_main-social";

/* ===========================================
   Contents Style
   =========================================== */

@import "_ctn-main";

/* ===========================================
   General Style
   =========================================== */

.main_content {
  width: 100%;
}

.center-block {
  @include flex(row, center , center);
}