@charset "UTF-8";
/* ===========================================
   CSS Reset
   =========================================== */
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: 0px none;
  font-size: 100%;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

/* ===========================================
   General Imports
   =========================================== */
/* Background Colors
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts Colors
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Escuelas Colors
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Layout
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Triangulos
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Header Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#img_principal {
  width: 100%;
  padding-top: 35px;
}

#header {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 1000;
}

#header #container_nav_icons {
  width: 100%;
  height: 35px;
  background-color: #2a3744;
}

#header #container_nav_icons .nav_icons {
  height: 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #container_nav_icons .nav_icons a {
  color: white;
  margin: 0px 20px 0px 20px;
}

#header .menu_dynamic {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#header .menu_dynamic .logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic .logo img {
  width: 100%;
}

#header .menu_dynamic nav {
  padding-left: 30px;
  padding-right: 0px;
}

#header .menu_dynamic nav .nav_principal li a {
  color: #FFFFFF;
  font-family: "century-gothic";
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic nav .nav_principal li a .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dcd9da;
  margin-top: 5px;
}

#header .menu_dynamic nav .nav_principal li a:hover {
  background-color: #2a3744;
}

#header .menu_dynamic nav .nav_principal li .sub_menu {
  display: none;
  background-color: #2a3744;
  transition: 0.6s;
}

#header .menu_dynamic nav .nav_principal li .sub_menu li a {
  height: 30px;
  padding: 4px 10px 4px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#header .menu_dynamic nav .nav_principal li .sub_menu a:hover {
  background-color: rgba(191, 191, 191, 0.3);
}

#header .menu_dynamic nav .nav_principal li #menu_fa, #header .menu_dynamic nav .nav_principal li #menu_esc {
  transition: 0.6s;
}

#header .menu_dynamic nav .nav_principal .col-md-1, #header .menu_dynamic nav .nav_principal .col-md-2 {
  padding-left: 0px;
  padding-right: 0px;
}

#header .menu_dynamic2 {
  width: 100%;
}

#header .menu_dynamic2 .logo2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic2 .logo2 img {
  width: 100%;
}

#header .menu_dynamic2 nav {
  padding-left: 30px;
  padding-right: 0px;
}

#header .menu_dynamic2 nav .nav_principal2 li a {
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic2 nav .nav_principal2 li a .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dcd9da;
  margin-top: 5px;
}

#header .menu_dynamic2 nav .nav_principal2 li a:hover {
  background-color: #2a3744;
  transition: 0.6s;
}

#header .menu_dynamic2 nav .nav_principal2 li .sub_menu {
  display: none;
  background-color: #2a3744;
}

#header .menu_dynamic2 nav .nav_principal2 li .sub_menu li a {
  height: 30px;
  padding: 4px 10px 4px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#header .menu_dynamic2 nav .nav_principal2 li .sub_menu a:hover {
  background-color: rgba(191, 191, 191, 0.3);
  transition: 0.6s;
}

#header .menu_dynamic2 nav .nav_principal2 .col-md-1, #header .menu_dynamic2 nav .nav_principal2 .col-md-2 {
  padding-left: 0px;
  padding-right: 0px;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 550px) {
  .menu_dynamic {
    height: 20px;
    transition: 0.6s;
  }
  .menu_dynamic .logo {
    width: 30%;
    height: 20px;
    transition: 0.6s;
  }
  .menu_dynamic2 {
    height: 20px;
    background-color: #2a3744;
    transition: 0.6s;
  }
  .menu_dynamic2 .logo2 {
    width: 30%;
    height: 20px;
    margin-right: 5%;
    transition: 0.6s;
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 551px) and (max-width: 749px) {
  .menu_dynamic {
    height: 40px;
    transition: 0.6s;
  }
  .menu_dynamic .logo {
    width: 30%;
    height: 40px;
    transition: 0.6s;
  }
  .menu_dynamic2 {
    height: 40px;
    background-color: #2a3744;
    transition: 0.6s;
  }
  .menu_dynamic2 .logo2 {
    width: 30%;
    height: 40px;
    margin-right: 5%;
    transition: 0.6s;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 991px) {
  .menu_dynamic {
    height: 60px;
    transition: 0.6s;
  }
  .menu_dynamic .logo {
    width: 30%;
    height: 60px;
    transition: 0.6s;
  }
  .menu_dynamic2 {
    height: 60px;
    background-color: #2a3744;
    transition: 0.6s;
  }
  .menu_dynamic2 .logo2 {
    width: 30%;
    height: 60px;
    margin-right: 5%;
    transition: 0.6s;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu_dynamic {
    height: 70px;
    transition: 0.6s;
  }
  .menu_dynamic .logo {
    height: 70px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal {
    height: 70px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal a {
    height: 70px;
    font-size: 1.3rem;
    padding: 29.5px 15px 29.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal .facultad, .menu_dynamic .nav_principal .escuelas {
    font-size: 1.3rem;
    padding: 29.5px 15px 19.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic2 {
    height: 50px;
    background-color: #2a3744;
    transition: 0.6s;
  }
  .logo2 {
    width: 20%;
    height: 50px;
    margin-right: 5%;
    transition: 0.6s;
  }
  .nav_principal2 {
    height: 50px;
    transition: 0.6s;
  }
  .usmp2, .posgrados2, .institutos2, .epu2, .admision2 {
    height: 50px;
    font-size: 1.1rem;
    padding: 19.5px 15px 19.5px 15px;
    transition: 0.6s;
  }
  .facultad2, .escuelas2 {
    height: 50px;
    font-size: 1.1rem;
    padding: 19.5px 15px 9.5px 15px;
    transition: 0.6s;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  .menu_dynamic {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic .logo {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal a {
    height: 80px;
    font-size: 1.5rem;
    padding: 29.5px 15px 29.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal .facultad, .menu_dynamic .nav_principal .escuelas {
    font-size: 1.5rem;
    padding: 29.5px 15px 19.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic2 {
    height: 60px;
    background-color: #2a3744;
    transition: 0.6s;
  }
  .logo2 {
    width: 20%;
    height: 60px;
    margin-right: 5%;
    transition: 0.6s;
  }
  .nav_principal2 {
    height: 60px;
    transition: 0.6s;
  }
  .usmp2, .posgrados2, .institutos2, .epu2, .admision2 {
    height: 60px;
    font-size: 1.3rem;
    padding: 19.5px 15px 19.5px 15px;
    transition: 0.6s;
  }
  .facultad2, .escuelas2 {
    height: 60px;
    font-size: 1.3rem;
    padding: 19.5px 15px 9.5px 15px;
    transition: 0.6s;
  }
}

/* Header Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#header .menu_dynamic_general {
  width: 100%;
  background-image: url("../../assets/img/bg_header.png");
}

#header .menu_dynamic_general .logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic_general .logo img {
  width: 100%;
}

#header .menu_dynamic_general nav {
  padding-left: 30px;
  padding-right: 0px;
}

#header .menu_dynamic_general nav .nav_principal li a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "century-gothic";
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic_general nav .nav_principal li a .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dcd9da;
  margin-top: 5px;
}

#header .menu_dynamic_general nav .nav_principal li a:hover {
  background-color: #2a3744;
}

#header .menu_dynamic_general nav .nav_principal li .sub_menu {
  display: none;
  background-color: #2a3744;
  transition: 0.6s;
}

#header .menu_dynamic_general nav .nav_principal li .sub_menu li a {
  height: 30px;
  padding: 4px 10px 4px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#header .menu_dynamic_general nav .nav_principal li .sub_menu a:hover {
  background-color: rgba(191, 191, 191, 0.3);
}

#header .menu_dynamic_general nav .nav_principal li #menu_fa, #header .menu_dynamic_general nav .nav_principal li #menu_esc {
  transition: 0.6s;
}

#header .menu_dynamic_general nav .nav_principal .col-md-1, #header .menu_dynamic_general nav .nav_principal .col-md-2 {
  padding-left: 0px;
  padding-right: 0px;
}

#header .menu_dynamic_general2 {
  width: 100%;
}

#header .menu_dynamic_general2 .logo2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic_general2 .logo2 img {
  width: 100%;
}

#header .menu_dynamic_general2 nav {
  padding-left: 30px;
  padding-right: 0px;
}

#header .menu_dynamic_general2 nav .nav_principal2 li a {
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic_general2 nav .nav_principal2 li a .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dcd9da;
  margin-top: 5px;
}

#header .menu_dynamic_general2 nav .nav_principal2 li a:hover {
  background-color: #2a3744;
  transition: 0.6s;
}

#header .menu_dynamic_general2 nav .nav_principal2 li .sub_menu {
  display: none;
  background-color: #2a3744;
}

#header .menu_dynamic_general2 nav .nav_principal2 li .sub_menu li a {
  height: 30px;
  padding: 4px 10px 4px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#header .menu_dynamic_general2 nav .nav_principal2 li .sub_menu a:hover {
  background-color: rgba(191, 191, 191, 0.3);
  transition: 0.6s;
}

#header .menu_dynamic_general2 nav .nav_principal2 .col-md-1, #header .menu_dynamic_general2 nav .nav_principal2 .col-md-2 {
  padding-left: 0px;
  padding-right: 0px;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  .menu_dynamic_general {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic_general .logo {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic_general .nav_principal {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic_general .nav_principal a {
    height: 80px;
    font-size: 1.5rem;
    padding: 29.5px 15px 29.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic_general .nav_principal .facultad, .menu_dynamic_general .nav_principal .escuelas {
    font-size: 1.5rem;
    padding: 29.5px 15px 19.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic_general2 {
    height: 60px;
    background-color: #2a3744;
    transition: 0.6s;
  }
}

/* Footer Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
footer {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #2a3744;
}

footer #footer {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2a3744;
  color: #93b6cf;
}

footer #footer #content-footer p {
  text-align: center;
  margin-bottom: 4px;
}

footer #footer #content-footer #copyright {
  margin-bottom: 0px;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 550px) {
  #footer {
    height: 60px;
    font-size: 0.7rem;
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 551px) and (max-width: 749px) {
  #footer {
    height: 70px;
    font-size: 0.8rem;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 999px) {
  #footer {
    height: 80px;
    font-size: 0.9rem;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1000px) and (max-width: 1199px) {
  #footer {
    height: 90px;
    font-size: 1rem;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  #footer {
    height: 100px;
    font-size: 1.1rem;
  }
}

/* Menu Secundario
   ––––––––––––––––––––––––––––––––––––––––––– */
.menu_secondary {
  width: 100%;
  background-color: #dcd9da;
}

.menu_secondary .container_icons {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.menu_secondary .container_icons .content_icons {
  width: 100%;
  height: 140px;
  background-color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_secondary .container_icons .content_icons div {
  width: 80px;
  height: 80px;
  background-color: #2a3744;
  border-radius: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_secondary .container_icons .content_icons div img {
  display: table;
}

.menu_secondary .container_icons .content_icons span {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #2a3744;
  font-weight: bold;
  text-align: center;
}

.menu_secondary .container_icons .content_icons:hover div {
  background-color: #e44b30;
  transition: 0.5s;
}

.menu_secondary a {
  text-decoration: none;
}

/* Divider-Triangle
   ––––––––––––––––––––––––––––––––––––––––––– */
.divider_triangle {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.divider_triangle .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28px solid #dcd9da;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Social Principal
   ––––––––––––––––––––––––––––––––––––––––––– */
.main_social #container-img-social {
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 600;
}

.main_social #container-img-social img {
  width: 100%;
}

.main_social #container-icons {
  width: 100%;
  position: absolute;
  z-index: 700;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_social #container-icons a {
  background-color: #2a3744;
  border-radius: 50%;
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.main_social #container-icons a i {
  color: white;
}

.main_social #container-icons a:hover {
  background-color: #e44b30;
  transition: 0.5s;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 400px) {
  #container-icons a {
    width: 50px;
    height: 50px;
    margin: 4.3% 20px 0% 20px;
  }
  #container-icons a #medium {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

@media (min-width: 401px) and (max-width: 450px) {
  #container-icons a {
    width: 50px;
    height: 50px;
    margin: 4.8% 20px 0% 20px;
  }
  #container-icons a #medium {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

@media (min-width: 451px) and (max-width: 550px) {
  #container-icons a {
    width: 50px;
    height: 50px;
    margin: 5.8% 20px 0% 20px;
  }
  #container-icons a #medium {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 551px) and (max-width: 749px) {
  #container-icons a {
    width: 60px;
    height: 60px;
    margin: 6.5% 20px 0% 20px;
  }
  #container-icons a #medium {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 999px) {
  #container-icons a {
    width: 80px;
    height: 80px;
    margin: 6.3% 20px 0% 20px;
  }
  #container-icons a #small {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1000px) and (max-width: 1199px) {
  #container-icons a {
    width: 80px;
    height: 80px;
    margin: 6.8% 20px 0% 20px;
  }
  #container-icons a #small {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  #container-icons a {
    width: 100px;
    height: 100px;
    margin: 6.8% 20px 0% 20px;
  }
  #container-icons a #small {
    display: none;
  }
  #container-icons a #medium {
    display: none;
  }
}

/* Social
   ––––––––––––––––––––––––––––––––––––––––––– */
.social {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #364d5b;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.social #contact #telefono {
  margin-bottom: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social #contact #telefono div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e44b30;
  margin-right: 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.social #contact #telefono div i {
  color: white;
}

.social #contact #telefono span span {
  color: white;
}

.social #contact #telefono span p {
  color: #93b6cf;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.social .divider_social {
  width: 1px;
  background-color: #93b6cf;
}

.social #social_group {
  width: auto;
}

.social #social_group a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social #social_group a #facebook {
  margin-right: 20px;
  margin-top: 3px;
}

.social #social_group a #youtube {
  margin-right: 15px;
  margin-top: 3px;
}

.social #social_group a #twitter {
  margin-top: 3px;
  margin-right: 14px;
}

.social #social_group a i {
  color: #e44b30;
}

.social #social_group a span {
  color: #93b6cf;
  font-size: 1.2rem;
}

.social .direccion {
  margin-bottom: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social .direccion div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e44b30;
  margin-right: 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.social .direccion div i {
  color: white;
}

.social .direccion span span {
  color: white;
  font-size: 1rem;
}

.social .direccion span p {
  color: #93b6cf;
  margin: 0px;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 550px) {
  .social {
    height: 170px;
    padding-left: 10px;
  }
  .social #contact {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  .social #contact #telefono {
    margin-bottom: 30px;
  }
  .social #contact #telefono div {
    width: 28px;
    height: 28px;
  }
  .social #contact #telefono span span {
    font-size: 1rem;
  }
  .social #contact #telefono span p {
    font-size: 0.8rem;
  }
  .social #contact .direccion {
    margin-bottom: 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social #contact .direccion div {
    width: 28px;
    height: 28px;
  }
  .social #contact .direccion span span {
    font-size: 1rem;
  }
  .social #contact .direccion span p {
    font-size: 0.8rem;
  }
  .social #social_group a {
    margin: 20px 15px 20px 15px;
  }
  .social #social_group a #facebook {
    margin-right: 15px;
    margin-top: 0px;
  }
  .social #social_group a #youtube {
    margin-right: 10px;
    margin-top: 0px;
  }
  .social #social_group a #twitter {
    margin-top: 0px;
    margin-right: 9px;
  }
  .social #social_group a span {
    font-size: 1rem;
  }
  .social .direccion span span {
    font-size: 0.7rem;
  }
  .social .direccion span p {
    width: 130px;
    font-size: 0.7rem;
  }
  .social .divider_social {
    height: 120px;
    margin: 0px 0px 0px 15px;
  }
  .social #direccion {
    display: none;
  }
  .social #direccion_min {
    display: block;
  }
  .social #divider_2 {
    display: none;
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 551px) and (max-width: 749px) {
  .social {
    height: 190px;
  }
  .social #contact {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  .social #contact #telefono {
    margin-bottom: 30px;
  }
  .social #contact #telefono div {
    width: 35px;
    height: 35px;
  }
  .social #contact #telefono span span {
    font-size: 1.2rem;
  }
  .social #contact #telefono span p {
    font-size: 1rem;
  }
  .social #contact .direccion {
    margin-bottom: 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social #contact .direccion div {
    width: 35px;
    height: 35px;
  }
  .social #contact .direccion span span {
    font-size: 1.2rem;
  }
  .social #contact .direccion span p {
    width: 140px;
    font-size: 1rem;
  }
  .social #social_group a {
    margin: 20px 10px 20px 10px;
  }
  .social #social_group a #facebook {
    margin-right: 20px;
    margin-top: 1px;
  }
  .social #social_group a #youtube {
    margin-right: 15px;
    margin-top: 1px;
  }
  .social #social_group a #twitter {
    margin-top: 1px;
    margin-right: 14px;
  }
  .social #social_group a span {
    font-size: 1.2rem;
  }
  .social .divider_social {
    height: 140px;
    margin: 0px 20px 0px 40px;
  }
  .social #direccion {
    display: none;
  }
  .social #direccion_min {
    display: block;
  }
  .social #divider_2 {
    display: none;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 999px) {
  .social {
    height: 210px;
  }
  .social #telefono {
    margin-bottom: 60px;
  }
  .social #telefono div {
    width: 35px;
    height: 35px;
  }
  .social #telefono span span {
    font-size: 1.2rem;
  }
  .social #telefono span p {
    font-size: 1.1rem;
  }
  .social #social_group a {
    margin: 20px 10px 20px 10px;
  }
  .social #social_group a #facebook {
    margin-right: 20px;
    margin-top: 1px;
  }
  .social #social_group a #youtube {
    margin-right: 15px;
    margin-top: 1px;
  }
  .social #social_group a #twitter {
    margin-top: 1px;
    margin-right: 14px;
  }
  .social #social_group a span {
    font-size: 1.2rem;
  }
  .social .direccion div {
    width: 35px;
    height: 35px;
  }
  .social .direccion span span {
    font-size: 1.2rem;
  }
  .social .direccion span p {
    font-size: 1.1rem;
  }
  .social .divider_social {
    height: 160px;
    margin: 0px 40px 0px 40px;
  }
  .social #direccion_min {
    display: none;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1000px) and (max-width: 1199px) {
  .social {
    height: 230px;
  }
  .social #telefono {
    margin-bottom: 60px;
  }
  .social #telefono span span {
    font-size: 1.2rem;
  }
  .social #telefono span p {
    font-size: 1.1rem;
  }
  .social #social_group a {
    margin: 20px 15px 20px 15px;
  }
  .social #social_group a span {
    font-size: 1.2rem;
  }
  .social .direccion span span {
    font-size: 1.2rem;
  }
  .social .direccion span p {
    font-size: 1.1rem;
  }
  .social .divider_social {
    height: 180px;
    margin: 0px 50px 0px 50px;
  }
  .social #direccion_min {
    display: none;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  .social {
    height: 250px;
  }
  .social #telefono {
    margin-bottom: 60px;
  }
  .social #telefono span span {
    font-size: 1.4rem;
  }
  .social #telefono span p {
    font-size: 1.2rem;
  }
  .social #social_group a {
    margin: 20px 20px 20px 20px;
  }
  .social #social_group a #facebook {
    margin-right: 20px;
    margin-top: 3px;
  }
  .social #social_group a #youtube {
    margin-right: 15px;
    margin-top: 3px;
  }
  .social #social_group a #twitter {
    margin-top: 3px;
    margin-right: 14px;
  }
  .social #social_group a span {
    font-size: 1.4rem;
  }
  .social .direccion span span {
    font-size: 1.4rem;
  }
  .social .direccion span p {
    width: 218px;
    font-size: 1.2rem;
  }
  .social .divider_social {
    margin: 0px 60px 0px 60px;
    height: 200px;
  }
  .social #direccion_min {
    display: none;
  }
}

/* Menu Facultad
   ––––––––––––––––––––––––––––––––––––––––––– */
#menu_facultad {
  width: 100%;
  background-color: #EEEEEE;
  position: fixed;
  z-index: 900;
  padding-left: 5%;
}

#menu_facultad div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu_facultad div a {
  text-decoration: none;
  color: #1F2533;
  font-family: "century-gothic";
  font-weight: bold;
}

#menu_facultad div i {
  color: #1F2533;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 550px) {
  #menu_facultad {
    padding-top: 55px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu_facultad div a {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    margin-left: 0px;
    font-size: 1.2rem;
  }
  #menu_facultad div i {
    margin-right: 10px;
    margin-left: 0px;
    font-size: 1.6rem;
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 551px) and (max-width: 749px) {
  #menu_facultad {
    padding-top: 75px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu_facultad div a {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    margin-left: 0px;
    font-size: 1.2rem;
  }
  #menu_facultad div i {
    margin-right: 10px;
    margin-left: 0px;
    font-size: 1.4rem;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 991px) {
  #menu_facultad {
    padding-top: 95px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu_facultad div a {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 1.2rem;
  }
  #menu_facultad div i {
    margin-right: 10px;
    margin-left: 0px;
    font-size: 1.4rem;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 992px) and (max-width: 1199px) {
  #menu_facultad {
    padding-top: 105px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu_facultad div a {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
  }
  #menu_facultad div i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1rem;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  #menu_facultad {
    padding-top: 115px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu_facultad div a {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.3rem;
  }
  #menu_facultad div i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1rem;
  }
}

/* ===========================================
   Contents Style
   =========================================== */
/* Main Content
   ––––––––––––––––––––––––––––––––––––––––––– */
.noticias {
  margin-bottom: 20px;
}

.noticias article {
  margin-bottom: 20px;
}

.noticias article header {
  font-size: 1.7rem;
  font-weight: bold;
  color: #e44b30;
}

.noticias article p {
  text-align: justify;
}

.noticias a {
  font-size: 1.4rem;
  text-decoration: underline;
  color: #e44b30;
  float: right;
  margin: 10px 50px 0px 0px;
  font-weight: bold;
}

.content_link {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_link a {
  width: 100%;
  background-color: #e44b30;
  text-decoration: none;
}

.content_link a span {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 25px;
  color: white;
  background-color: #e44b30;
  text-align: center;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_link a .divider_triangle {
  height: 10px;
  background-color: #e44b30;
}

.content_link a .divider_triangle .triangulo_sup {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.eventos {
  margin-top: 20px;
  background-color: #dcd9da;
}

.eventos header {
  margin-bottom: 25px;
}

.eventos div article figure h4 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: justify;
}

.eventos div article button {
  padding: 5px 20px 5px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #2a3744;
  color: white;
}

.eventos .center-block a {
  font-size: 1.4rem;
  text-decoration: underline;
  color: #e44b30;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
}

.eventos .center-block {
  padding: 0px;
}

.eventos .center-block .divider_triangle {
  background-color: white;
}

.eventos .center-block .divider_triangle .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 18px solid #dcd9da;
}

.agenda {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #dcd9da;
}

.agenda header {
  margin-bottom: 25px;
}

.agenda div span {
  color: #e44b30;
  font-size: 4rem;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.agenda div div h4 {
  color: #e44b30;
  margin: 0px;
}

.agenda div div p {
  color: #273743;
  font-weight: bold;
  margin-bottom: 15px;
}

.video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.video #container_video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 0;
  position: relative;
}

.video #container_video iframe {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  z-index: 100;
  top: 0;
  border: 0;
}

.map {
  margin-top: 20px;
  margin-bottom: 20px;
}

.map #container_map {
  height: 0;
  overflow: hidden;
  padding-bottom: 42%;
  padding-top: 0;
  position: relative;
}

.map #container_map iframe {
  width: 100%;
  height: 95%;
  left: 0;
  position: absolute;
  top: 0;
  border: 0;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 767px) {
  .content_link a span {
    font-size: 1.1rem;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 768px) and (max-width: 991px) {
  .content_link a span {
    font-size: 1.1rem;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 992px) and (max-width: 1199px) {
  .content_link a span {
    font-size: 1.1rem;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  .content_link a span {
    font-size: 1.2rem;
  }
}

/* Palabras del decano
   ––––––––––––––––––––––––––––––––––––––––––– */
.decano header h2 {
  font-weight: bold;
}

.decano .limitador {
  height: 1px;
  margin: 10px 0px 20px 0px;
  background-color: #e44b30;
}

.decano article div #img_decano {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.decano article p {
  text-align: justify;
}

.decano article #firma {
  margin-top: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.decano article #firma p {
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.decano article #firma p span {
  text-align: center;
  margin: 0px;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 767px) {
  header h2 {
    font-size: 1.8rem;
  }
  #firma p {
    margin: 0px 10px 0px 0px;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 768px) and (max-width: 991px) {
  header h2 {
    font-size: 2rem;
  }
  #firma p {
    margin: 0px 50px 0px 0px;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 992px) and (max-width: 1199px) {
  header h2 {
    font-size: 2.1rem;
  }
  #firma p {
    margin: 0px 50px 0px 0px;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  header h2 {
    font-size: 2.2rem;
  }
  #firma p {
    margin: 0px 50px 0px 0px;
  }
}

/* Autoridades
   ––––––––––––––––––––––––––––––––––––––––––– */
.autoridades header h2 {
  font-weight: bold;
}

.autoridades .limitador {
  height: 1px;
  margin: 10px 0px 20px 0px;
  background-color: #e44b30;
}

.autoridades #direccion {
  margin-bottom: 20px;
}

.autoridades #direccion header h2 {
  margin-bottom: 30px;
}

.autoridades #direccion .ctn_autoridades {
  padding-left: 0px;
  padding-right: 0px;
}

.autoridades #direccion .texto p {
  text-align: justify;
}

.autoridades #direccion .texto span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.autoridades article header h2 {
  margin-bottom: 20px;
}

.autoridades article ul li a {
  text-decoration: none;
}

.autoridades article .panel-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.autoridades article .panel-title a {
  transition: 0.6s;
  text-decoration: none;
}

.autoridades article .panel-title .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  margin-left: 8px;
}

.autoridades article .panel-title .giro {
  transition: 0.6s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.autoridades article .panel-body {
  background-color: #F4F4F4;
}

.autoridades article .panel-body p {
  text-align: justify;
}

.autoridades article .espaciado_icons {
  margin-right: 8px;
}

.autoridades article .directores a {
  color: #274F86;
  text-decoration: none;
}

.autoridades article .directores .panel-body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.autoridades article .firma {
  margin-top: 25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 767px) {
  header h2 {
    font-size: 1.8rem;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 768px) and (max-width: 991px) {
  header h2 {
    font-size: 2rem;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 992px) and (max-width: 1199px) {
  header h2 {
    font-size: 2.1rem;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  header h2 {
    font-size: 2.2rem;
  }
}

/* ===========================================
   General Style
   =========================================== */
.main_content {
  width: 100%;
}

.center-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.padding_ctn {
  padding-bottom: 20px;
}

@font-face {
  font-family: "century-gothic";
  src: url("../../assets/fonts/century-gothic.eot");
  src: url("../../assets/fonts/century-gothic.ttf");
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 550px) {
  .padding_ctn {
    padding-top: 230px;
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 551px) and (max-width: 749px) {
  .padding_ctn {
    padding-top: 250px;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 991px) {
  .padding_ctn {
    padding-top: 270px;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 992px) and (max-width: 1199px) {
  .padding_ctn {
    padding-top: 192px;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  .padding_ctn {
    padding-top: 203px;
  }
}
