@charset "UTF-8";
/* ===========================================
   CSS Reset
   =========================================== */
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: 0px none;
  font-size: 100%;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

/* ===========================================
   General Imports
   =========================================== */
/* Background Colors
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts Colors
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Escuelas Colors
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Layout
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Triangulos
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Header Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#img_principal {
  width: 100%;
  padding-top: 35px;
}

#header {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 1000;
}

#header #container_nav_icons {
  height: 35px;
  background-color: #2a3744;
}

#header #container_nav_icons .nav_icons {
  height: 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #container_nav_icons .nav_icons a {
  color: white;
  margin: 0px 20px 0px 20px;
}

#header .menu_dynamic {
  background-color: rgba(0, 0, 0, 0.5);
}

#header .menu_dynamic .logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic .logo img {
  width: 100%;
}

#header .menu_dynamic .nav_principal {
  margin-left: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic .nav_principal a {
  color: white;
  text-decoration: none;
}

#header .menu_dynamic .nav_principal a .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dcd9da;
  margin-top: 5px;
}

#header .menu_dynamic .nav_principal a:hover {
  background-color: #2a3744;
  transition: 0.6s;
}

#header .menu_dynamic .nav_principal #facultad, #header .menu_dynamic .nav_principal #escuelas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic2 .logo2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic2 .logo2 img {
  width: 100%;
}

#header .menu_dynamic2 .nav_principal2 {
  margin-left: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu_dynamic2 .nav_principal2 a {
  color: white;
  text-decoration: none;
}

#header .menu_dynamic2 .nav_principal2 a .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dcd9da;
  margin-top: 5px;
}

#header .menu_dynamic2 .nav_principal2 a:hover {
  background-color: #2a3744;
  transition: 0.6s;
}

#header .menu_dynamic2 .nav_principal2 .facultad2, #header .menu_dynamic2 .nav_principal2 .escuelas2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 550px) {
  .menu_dynamic {
    height: 30px;
  }
  .menu_dynamic .logo {
    height: 30px;
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 551px) and (max-width: 749px) {
  .menu_dynamic {
    height: 50px;
  }
  .menu_dynamic .logo {
    height: 50px;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 991px) {
  .menu_dynamic {
    height: 60px;
  }
  .menu_dynamic .logo {
    height: 60px;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu_dynamic {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic .logo {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal a {
    font-size: 1.2rem;
    padding: 31.5px 15px 31.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal .facultad, .menu_dynamic .nav_principal .escuelas {
    padding: 31.5px 15px 21.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic2 {
    height: 60px;
    background-color: #2a3744;
    transition: 0.6s;
  }
  .logo2 {
    width: 20%;
    height: 60px;
    margin-right: 5%;
    transition: 0.6s;
  }
  .nav_principal2 {
    height: 60px;
    transition: 0.6s;
  }
  .usmp2, .posgrados2, .institutos2, .epu2, .admision2 {
    font-size: 1.2rem;
    padding: 21.5px 15px 21.5px 15px;
    transition: 0.6s;
  }
  .facultad2, .escuelas2 {
    font-size: 1.2rem;
    padding: 21.5px 15px 11.5px 15px;
    transition: 0.6s;
  }
  /*
  .sub_menu_fa {
    top: 80px;
    left: 95px;
  }
  .sub_menu_esc {
    top: 80px;
    left: 188px;
  }
  */
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  .menu_dynamic {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic .logo {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal {
    height: 80px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal a {
    font-size: 1.5rem;
    padding: 29.5px 15px 29.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic .nav_principal .facultad, .menu_dynamic .nav_principal .escuelas {
    font-size: 1.5rem;
    padding: 29.5px 15px 19.5px 15px;
    transition: 0.6s;
  }
  .menu_dynamic2 {
    height: 60px;
    background-color: #2a3744;
    transition: 0.6s;
  }
  .logo2 {
    width: 20%;
    height: 60px;
    margin-right: 5%;
    transition: 0.6s;
  }
  .nav_principal2 {
    height: 60px;
    transition: 0.6s;
  }
  .usmp2, .posgrados2, .institutos2, .epu2, .admision2 {
    font-size: 1.5rem;
    padding: 19.5px 15px 19.5px 15px;
    transition: 0.6s;
  }
  .facultad2, .escuelas2 {
    padding: 19.5px 15px 9.5px 15px;
    transition: 0.6s;
  }
  /*
  .sub_menu_fa {
    top: 80px;
    left: 104px;
  }
  .sub_menu_esc {
    top: 80px;
    left: 213px;
  }
  */
}

/* Footer Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
footer {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #2a3744;
}

footer #footer {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2a3744;
  color: #93b6cf;
}

footer #footer #content-footer p {
  text-align: center;
  margin-bottom: 4px;
}

footer #footer #content-footer #copyright {
  margin-bottom: 0px;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 550px) {
  #footer {
    height: 60px;
    font-size: 0.7rem;
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 551px) and (max-width: 749px) {
  #footer {
    height: 70px;
    font-size: 0.8rem;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 999px) {
  #footer {
    height: 80px;
    font-size: 0.9rem;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1000px) and (max-width: 1199px) {
  #footer {
    height: 90px;
    font-size: 1rem;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  #footer {
    height: 100px;
    font-size: 1.1rem;
  }
}

/* Menu Secundario
   ––––––––––––––––––––––––––––––––––––––––––– */
.menu_secondary {
  width: 100%;
  background-color: #dcd9da;
}

.menu_secondary .container_icons {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.menu_secondary .container_icons .content_icons {
  width: 100%;
  height: 140px;
  background-color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_secondary .container_icons .content_icons div {
  width: 80px;
  height: 80px;
  background-color: #2a3744;
  border-radius: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_secondary .container_icons .content_icons div img {
  display: table;
}

.menu_secondary .container_icons .content_icons span {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #2a3744;
  font-weight: bold;
  text-align: center;
}

.menu_secondary .container_icons .content_icons:hover div {
  background-color: #e44b30;
  transition: 0.5s;
}

.menu_secondary a {
  text-decoration: none;
}

/* Divider-Triangle
   ––––––––––––––––––––––––––––––––––––––––––– */
.divider_triangle {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.divider_triangle .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28px solid #dcd9da;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Social Principal
   ––––––––––––––––––––––––––––––––––––––––––– */
.main_social #container-img-social {
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 600;
}

.main_social #container-img-social img {
  width: 100%;
}

.main_social #container-icons {
  width: 100%;
  position: absolute;
  z-index: 700;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_social #container-icons a {
  background-color: #2a3744;
  border-radius: 50%;
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.main_social #container-icons a i {
  color: white;
}

.main_social #container-icons a:hover {
  background-color: #e44b30;
  transition: 0.5s;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 400px) {
  #container-icons a {
    width: 50px;
    height: 50px;
    margin: 4.3% 20px 0% 20px;
  }
  #container-icons a #medium {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

@media (min-width: 401px) and (max-width: 450px) {
  #container-icons a {
    width: 50px;
    height: 50px;
    margin: 4.8% 20px 0% 20px;
  }
  #container-icons a #medium {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

@media (min-width: 451px) and (max-width: 550px) {
  #container-icons a {
    width: 50px;
    height: 50px;
    margin: 5.8% 20px 0% 20px;
  }
  #container-icons a #medium {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

/* Phablet Styles
  ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 551px) and (max-width: 749px) {
  #container-icons a {
    width: 60px;
    height: 60px;
    margin: 6.5% 20px 0% 20px;
  }
  #container-icons a #medium {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) and (max-width: 999px) {
  #container-icons a {
    width: 80px;
    height: 80px;
    margin: 6.3% 20px 0% 20px;
  }
  #container-icons a #small {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1000px) and (max-width: 1199px) {
  #container-icons a {
    width: 80px;
    height: 80px;
    margin: 6.8% 20px 0% 20px;
  }
  #container-icons a #small {
    display: none;
  }
  #container-icons a #large {
    display: none;
  }
}

/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1200px) {
  #container-icons a {
    width: 100px;
    height: 100px;
    margin: 6.8% 20px 0% 20px;
  }
  #container-icons a #small {
    display: none;
  }
  #container-icons a #medium {
    display: none;
  }
}

/* ===========================================
   Contents Style
   =========================================== */
/* Main Content
   ––––––––––––––––––––––––––––––––––––––––––– */
.noticias {
  margin-bottom: 20px;
}

.noticias article {
  margin-bottom: 20px;
}

.noticias article header {
  font-size: 1.7rem;
  font-weight: bold;
  color: #e44b30;
}

.noticias article p {
  text-align: justify;
}

.noticias a {
  font-size: 1.4rem;
  text-decoration: underline;
  color: #e44b30;
  float: right;
  margin: 10px 50px 0px 0px;
  font-weight: bold;
}

.content_link {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content_link a {
  width: 100%;
  background-color: #e44b30;
  text-decoration: none;
}

.content_link a span {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 25px;
  color: white;
  background-color: #e44b30;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_link a .divider_triangle {
  height: 10px;
  background-color: #e44b30;
}

.content_link a .divider_triangle .triangulo_sup {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.eventos {
  margin-top: 20px;
  background-color: #dcd9da;
}

.eventos header {
  margin-bottom: 25px;
}

.eventos div article figure h4 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: justify;
}

.eventos div article button {
  padding: 5px 20px 5px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #2a3744;
  color: white;
}

.eventos .center-block a {
  font-size: 1.4rem;
  text-decoration: underline;
  color: #e44b30;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
}

.eventos .center-block {
  padding: 0px;
}

.eventos .center-block .divider_triangle {
  background-color: white;
}

.eventos .center-block .divider_triangle .triangulo_inf {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 18px solid #dcd9da;
}

.agenda {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #dcd9da;
}

.agenda header {
  margin-bottom: 25px;
}

.agenda div span {
  color: #e44b30;
  font-size: 4rem;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.agenda div div h4 {
  color: #e44b30;
  margin: 0px;
}

.agenda div div p {
  color: #273743;
  font-weight: bold;
  margin-bottom: 15px;
}

.video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.video #container_video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 0;
  position: relative;
}

.video #container_video iframe {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  z-index: 100;
  top: 0;
  border: 0;
}

.map {
  margin-top: 20px;
  margin-bottom: 20px;
}

.map #container_map {
  height: 0;
  overflow: hidden;
  padding-bottom: 42%;
  padding-top: 0;
  position: relative;
}

.map #container_map iframe {
  width: 100%;
  height: 95%;
  left: 0;
  position: absolute;
  top: 0;
  border: 0;
}

/* Mobile Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Tablet Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop HD Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* ===========================================
   General Style
   =========================================== */
.main_content {
  width: 100%;
}

.center-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
