doctype html
html(lang="es" , ng-app="fia")
	head(ng-controller="route")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" , content="IE=edge")
		meta(name="viewport" , content="width=device-width, initial-scale=1")
		meta(name="description" , content="Facultad de Ingenieria y arquitectura")
		meta(name="keywords" , content="usmp , fia , ffia , ingenieria , arquitectura")
		meta(name="author" , content="Juan Carlos Raúl Contreras Meneses")

		link(rel="shortcut icon" , href="http://localhost:8004/assets/img/logo_usmp.ico")
		link(rel="stylesheet" , href="http://localhost:8004/assets/css/normalize.min.css")
		link(rel="stylesheet" , href="http://localhost:8004/assets/css/bootstrap.min.css")
		link(rel="stylesheet" , href="http://localhost:8004/assets/css/font-awesome.min.css")
		link(rel="stylesheet" , href="http://localhost:8004/assets/css/styles.css")
		link(rel="stylesheet" , href="http://localhost:8004/assets/css/remodal.css")
		link(rel="stylesheet" , href="http://localhost:8004/assets/css/remodal-default-theme.css")
		
		title USMP FIA

	body(ng-controller="route")

		div(id="main_container")

			block header

				include includes/general_header

				include includes/menu_facultad

			section(class="container padding_ctn")

				block content

			include includes/social

			block footer

				include includes/footer

		script(src="http://localhost:8004/assets/js/jquery.min.js")
		script(src="http://localhost:8004/assets/js/bootstrap.min.js")
		script(src="http://localhost:8004/assets/js/angular.min.js")
		script(src="http://localhost:8004/assets/js/main.js")
		script(src="http://localhost:8004/assets/js/main_angular.js")
		script(src="http://localhost:8004/assets/js/remodal.js")
