// 	FOOTER
	=========================================================

footer(class="col-md-12")
	div(id="footer")
		div(id="content-footer")
			p AV. LA FONTANA 1250 URB. STA. PATRICIA/TELÉFONO: (511) 208-600 FAX: 2086024
			P(id="copyright") COPYRIGHT © ÁREA DE DISEÑO GRÁFICO Y MULTIMEDIA - FIA, USMP. TODOS LOS DERECHOS RESERVADOS