// 	Social Principal
	–––––––––––––––––––––––––––––––––––––––––––––––––––––––––

div(class="main_social")

	div(id="container-img-social" , class="col-xs-12")
		img(src="{{ ruta_base }}assets/img/jovenes2.jpg" , class="img-responsive")

	div(id="container-icons")
		a(class="content_icons", href="https://twitter.com/udesanmartin" , target="_black")
			i(id="small" , class="fa fa-twitter fa-2x")
			i(id="medium" , class="fa fa-twitter fa-3x")
			i(id="large" , class="fa fa-twitter fa-4x")
		a(class="content_icons", href="#")
			i(id="small" , class="fa fa-youtube fa-2x")
			i(id="medium" , class="fa fa-youtube fa-3x")
			i(id="large" , class="fa fa-youtube fa-4x")
		a(class="content_icons", href="#")
			i(id="small" , class="fa fa-facebook fa-2x")
			i(id="medium" , class="fa fa-facebook fa-3x")
			i(id="large" , class="fa fa-facebook fa-4x")
