// 	MENU FACULTAD
	–––––––––––––––––––––––––––––––––––––––––––––––––––––––––

div(id="menu_facultad")

	div
		i(class="fa fa-users fa-lg hidden-md hidden-lg" , aria-hidden="true")
		a(href="") ALUMNOS
		i(class="fa fa-chevron-right hidden-xs hidden-sm" , aria-hidden="true")

	div
		i(class="fa fa-briefcase fa-lg hidden-md hidden-lg" , aria-hidden="true")
		a(href="") DOCENTES
		i(class="fa fa-chevron-right hidden-xs hidden-sm" , aria-hidden="true")
	div
		i(class="fa fa-graduation-cap fa-lg hidden-md hidden-lg" , aria-hidden="true")
		a(href="") GRADOS Y TÍTULOS
		i(class="fa fa-chevron-right hidden-xs hidden-sm" , aria-hidden="true")

	div
		i(class="fa fa-sign-in fa-lg hidden-md hidden-lg" , aria-hidden="true")
		a(href="http://intranet.usmp.edu.pe/procesoAcademico/loginSecure.aspx" , target="_blank") INTRANET
		i(class="fa fa-chevron-right hidden-xs hidden-sm" , aria-hidden="true")

	div
		i(class="fa fa-book fa-lg hidden-md hidden-lg" , aria-hidden="true")
		a(href="http://www.sibus.usmp.edu.pe/" , target="_blank") BIBLIOTECA