// 	MENU SECUNDARIO
	–––––––––––––––––––––––––––––––––––––––––––––––––––––––––

div(class="menu_secondary")
	div(class="container-fluid")
		div(class="container_icons col-xs-6 col-md-2 col-md-offset-1")
			a(class="content_icons" , href="#")
				div
					img(id="alumno", src="{{ ruta_base }}assets/img/icons/icon_alumno.svg")
				span ALUMNOS
		div(class="container_icons col-xs-6 col-md-2")
			a(class="content_icons" , href="#")
				div
					img(id="docentes", src="{{ ruta_base }}assets/img/icons/icon_docentes.svg")
				span DOCENTES
		div(class="container_icons col-xs-6 col-md-2")
			a(class="content_icons" , href="#")
				div
					img(id="grados" , src="{{ ruta_base }}assets/img/icons/icon_grados.svg")
				span GRADOS Y TITULOS
		div(class="container_icons col-xs-6 col-md-2")
			a(class="content_icons" , href="http://intranet.usmp.edu.pe/procesoAcademico/loginSecure.aspx" , target="_black")
				div
					img(id="intranet" , src="{{ ruta_base }}assets/img/icons/icon_intranet.svg")
				span INTRANET
		div(class="container_icons col-xs-6 col-md-2 col-xs-offset-3 col-md-offset-0")
			a(class="content_icons" , href="http://www.sibus.usmp.edu.pe/" , target="_black")
				div
					img(id="biblioteca" , src="{{ ruta_base }}assets/img/icons/icon_biblioteca.svg")
				span BIBLIOTECA

	div(class="divider_triangle")
			div(class="triangulo_inf")