// 	Social
	–––––––––––––––––––––––––––––––––––––––––––––––––––––––––

div(class="social")
	div(id="contact")
		div(id="telefono")
			div
				i(class="fa fa-phone fa-lg")
			span
				span TELÉFONO
				P 012086000
		
		div(id="direccion_min" , class="direccion")
			div
				i(class="fa fa-map-marker fa-lg")
			span
				span DIRECCIÓN
				P Av. La Fontana N° 1250 Urb. Santa Patricia - La Molina

	div(id="divider_1" , class="divider_social")

	div(id="social_group")
		a(href="https://es-es.facebook.com/udesanmartin" , target="_black")
			i(id="facebook" , class="fa fa-facebook fa-lg")
			span Facebook
		a(href="https://www.youtube.com/user/usmpvirtual" , target="_black")
			i(id="youtube" , class="fa fa-youtube fa-lg")
			span Youtube
		a(href="https://twitter.com/udesanmartin" , target="_black")
			i(id="twitter" , class="fa fa-twitter fa-lg")
			span Twitter

	div(id="divider_2" , class="divider_social")

	div(id="direccion" , class="direccion")
		div
			i(class="fa fa-map-marker fa-lg")
		span
			span DIRECCIÓN
			P Av. La Fontana N° 1250
			p Urb. Santa Patricia - La Molina